* {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 24px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.header__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.header__contacts {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.about {
  margin-top: 20px;
}

.table {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table__hobbies {
  border: 1px solid #5A9645;
  border-radius: 10px 0 0 10px;
}

.table__hobbies-title,
.table__social-title {
  border-bottom: 1px solid #5A9645;
  text-align: center;
  color: #5A9645;
  padding: 5px 0;
  font-weight: bold;
}

.table__social {
  border: 1px solid #5A9645;
  border-radius: 0 10px 10px 0;
}

.table__list {
  width: fit-content;
  margin: 25px auto;

}

.table__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.table__list-item:hover {
  cursor: pointer;
  color: #5A9645;
}

.table__list-item>a:hover {
  cursor: pointer;
  color: #5A9645;
}

.table__list-item>a {
  text-decoration: none;
  color: black;
}

.title {
  background: #5A9645;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  margin-top: 67px;
}

.technologies {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 0px 0px;
}

.technologies__item {
  width: 127px;
  height: 97px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies__item>img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.technologies__item:hover {
  box-shadow: 0 4px 20px 0 #5A9645;
  cursor: pointer;
}

.avatar {
    width: 160px;            
    height: 160px;          
    border-radius: 50%;      
    object-fit: cover;        
  }

.form
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
    padding-bottom: 30px;
  }

.form__input, .form__textarea {
    border: 1px solid #B8B8B8;
    border-radius: 10px;
    padding: 10px;
  }
  
.form__textarea, .form__button {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
.form__button {
    width: fit-content;
    cursor:pointer;
    margin: 0 auto;
    color: white;
    background: #5A9645;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }

button:hover {
    background-color: #5A9645;
}
